absl-py
appnope
astor
attrs
backcall
bleach
boto3
botocore
certifi
chardet
Click
cycler
decorator
defusedxml
docutils
entrypoints
gast
google-pasta
grpcio
h5py
idna
import-ipynb
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jmespath
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
Keras
Keras-Applications
Keras-Preprocessing
keyring
kiwisolver
Markdown
MarkupSafe
matplotlib
mistune
mkl-fft
mkl-random
more-itertools
mpmath
mxnet
nbconvert
nbformat
notebook
numpy
opt-einsum
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
pkginfo
powerlaw
prometheus-client
prompt-toolkit
protobuf
ptyprocess
Pygments
pyparsing
pyrsistent
python-dateutil
pytorchcv
pytz
PyYAML
pyzmq
qtconsole
readme-renderer
regex
requests
requests-toolbelt
s3transfer
sacremoses
scikit-learn
scipy
Send2Trash
sentencepiece
six
sklearn
tensorboard
tensorflow
tensorflow-estimator
termcolor
terminado
testpath
torch
torchvision
tornado
tqdm
traitlets
transformers
twine
urllib3
wcwidth
webencodings
WeightWatcher
Werkzeug
widgetsnbextension
wrapt
zipp
